body {
    font-family: Montserrat, sans-serif;
    background: grey;
  }

.sidebar .nav-list {
    background: lightgray;
    box-shadow: 0px 0px 10px black;
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 10px;
    padding-left: 40px;
}

.sidebar .nav-list .nav-item {
   align-items: left;
   font-size: 1rem;
   color: #2b2b2b;
}

.sidebar .nav-list .nav-item img {
    align-items: left;
    width: 3rem;
}

a {
    color: #2b2b2b;
    text-decoration: none;
    align-items: center;
}
a:hover {
    color:#2b2bb2;;
    transition:  0.3s;
}

.sidebar .nav-list .logo {
    font-size: 20px;
}

.sidebar .nav-list .user img {
    align-items: center;
    padding-top: 40vh;
    padding-left: 50px;
    width: 3rem;
}

.sidebar .nav-list .user p {
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    width: 3rem;
}
