.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(179, 172, 172);
    border-radius: 6px;
    width: 300px;
    
  }

  .card:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  }

  .card img {
    width: 100%;
    border-radius: 6px;
  }

  .fisrt-container {
    width: 100%;
    border: 1px solid rgb(179, 172, 172);
    border-left: none;
    border-right: none;
    cursor: default;
  }

  .fisrt-container h1 {
    margin: 10px;
    font-weight: 800;
    font-size: 20px;
  }

  .main-text {
    margin: 10px;
    font-size: 18px;
    font-weight: 200;
  }

  .second-container {
    border-bottom: 1px solid rgb(179, 172, 172);
  }

  .third-container {
    border-bottom: 1px solid rgb(179, 172, 172);
  }

  .fourth-container {
    border-bottom: 1px solid rgb(179, 172, 172);
  }

  p {
    margin: 10px;
    font-size: 18px;
    font-weight: 200;
    cursor: default;
  }

  .links {
    height: 25px;
    margin: 10px;
    padding-top: 7px;
    word-spacing: 20px;
    text-align: justify;
  }

  a {
    margin: 0px;
    word-spacing: 0px;
    text-decoration: none;
    color: grey;
  }

  a:hover {
    color: rgb(179, 172, 172);
    transition: 0.3s;
  }